.dialogue-window__fields { 
  margin: 0 auto;
  padding: 0;
  border: 1px solid #fff;
  width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 650px) {
  .dialogue-window__fields {
    width: 238px;
  }
}