.cover__background-link {
  margin: 0 auto;
  padding-top: 25%;
  padding-bottom: 25%;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../images/cover-route-66.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  color: #fff;
}

.cover__background-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__background-link:hover::before {
  cursor: pointer;
  background-color: rgba(42, 44, 47, 0.8);
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .cover__background-link {
    padding-top: 23.85%;
    padding-bottom: 23.85%;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background-link {
    padding-top: 21.40%;
    padding-bottom: 21.40%;

  }
}

@media screen and (max-width: 767px) {
  .cover__background-link {
    width: 100vw;
    padding-top: 18.4%;
    padding-bottom: 18.4%;

  }
}