.dialogue-window__form-element {
  font-size: 14px;
  font-weight: 400;
  width: 358px;
  padding: 0;
  font-style: normal;
  line-height: 17px;
  border: 1px solid #fff;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.dialogue-window__form-element:first-of-type {
  margin-bottom: 29px;
}

@media screen and (max-width:644px) {
  .dialogue-window__form-element {
    width: 238px;
  }
  
}