.header__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header__links li:last-of-type a {
        margin-right: 16px;
    }
}