.popup__close_type_image {
  top: -48px;
  right: -48px;
}

@media screen and (max-width: 644px) {
  .popup__close_close_type_image {
    top: -46px;
    right: -2px;
    background-image: url(../../../../images/close-icon-sm.svg);
  }
}