.profile__container-icon {
  background-image: url(../../../images/edit-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-color: inherit;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s linear;
}

.profile__container-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .profile__container-icon {
    position: relative;
    top: auto;
    width: 18px;
    height: 18px;
    left: auto;
  }
}

@media screen and (max-width: 680px) {
  .profile__container-icon {
    position: absolute;
    top: 30px;
    right: -30px;
  }
}