.card__like-button {
    flex: 0 0 21px;
    height: 18px;
    background: url('../../../images/like.svg') 0 0 no-repeat;
    background-size: 21px 18px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: opacity .3s ease;
  }
  
  .card__like-button:hover {
    opacity: .6;
  }