@import url('__form/dialogue-window__form.css');
@import url('__fields/dialogue-window__fields.css');
@import url('__title/dialogue-window__title.css');
@import url('__form-element/dialogue-window_form-element.css');
@import url('__form-x/dialogue-window__form-x.css');
@import url('__btn/dialogue-window__btn.css');

.dialogue-window {
  width: 430px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width: 650px) {
  .dialogue-window {
    margin: 0 auto;
    width: 282px;
  }
}

@media screen and (max-width: 425px) {
  .dialogue-window {
    width: 70%;
  }
}

@media screen and (max-width: 390px) {
  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 350px) {
  .modal {
    width: 90%;
  }
}