.places__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  width: 880px;
  font-weight: 900;
  line-height: 1.2;
}

@media screen and (max-width: 899px) {
  .places__list {
    grid-template-columns: repeat(auto-fill, 282px);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px) {
  .places__list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}