@import url("__background-link/cover__background-link.css");
@import url("__title/cover__title.css");
@import url("__subtitle/cover__subtitle.css");

.cover {
  margin: 92px auto;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 89px auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 20px auto;
  }
}