.place__link {
  font-family: 'Inter', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #fff;
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
