.popup__image {
  max-width: 816px;
  max-height: 540px;
  background: 0 0 no-repeat transparent;
}

@media screen and (max-width: 800px) {
  .popup__image {
    max-width: 430px;
    max-height: 330px;
  }
}

@media screen and (max-width: 400px) {
  .popup__image {
    max-width: 300px;
    max-height: 330px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}