.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/plus-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  border: 2px solid #ffffff;
  background-color: inherit;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 1s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .profile__add-button {
    position: relative;

  }
}

@media screen and (max-width: 680px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto;
  }
}