@import url('__link/place__link.css');
@import url('__image/place__image.css');
@import url('__title/place__title.css');
@import url('__website/place__website.css');
@import url('__url-heading/place__url-heading.css');
@import url('__description/place__description.css');
@import url('__paragraph/place__paragraph.css');
@import url('__image-item/place__image-item.css');

.place {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (min-width: 1280px) {
  .place {
    max-width: 984px;
    column-gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    max-width: 928px;
    padding-bottom: 80px;
    grid-template-columns: minmax(440px, 1fr) auto;
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title url"
      "image description";
    row-gap: 48px;
    column-gap: 28px;
  }

  .place:last-child {
    padding-bottom: 0px;
  }
}